<header>
    <div class="container-fluid top-header">
        <div class="col-md-6 col-sm-6 col-xs-12 pull-left top-header-phone">
                <i class="fa fa-phone fa-1x" aria-hidden="true"></i>
                <span>+91 98231 49496</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pull-right top-header-social hide">
            <a href="http://facebook.com" target="_blank" tooltip-placement="bottom" uib-tooltip="Facebook" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://twitter.com" tooltip-placement="bottom" uib-tooltip="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="http://instagram.com" tooltip-placement="bottom" uib-tooltip="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://in.pinterest.com/" tooltip-placement="bottom" uib-tooltip="Pinterest" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/"  tooltip-placement="bottom" uib-tooltip="Google+" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-custom-white">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-uppercase" href="#home" ng-click="setTabs('home')"><i class="hide fa fa-contao logo-icon" aria-hidden="true"></i><strong>SANJAY GAWDE</strong></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class='active' ng-class="{'active':tab=='home'}"><a href="#home" ng-click="setTabs('home')"><i class="fa fa-home menu-icon" aria-hidden="true"></i>Home</a></li>
                <li ng-class="{'active':tab=='article'}" class="dropdown" dropdown><a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-file menu-icon" aria-hidden="true"></i>Article<span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li><a href="#article" ng-click="setTabs('article')">Life Calling</a></li>
                        <li><a href="#article" ng-click="setTabs('article')">Build your Organization</a></li>
                        <li><a href="#article" ng-click="setTabs('article')">Organization Structure</a></li>
                        <li><a href="#article" ng-click="setTabs('article')">Thank "No-Shows"</a></li>
                    </ul>
                </li>
                <li ng-class="{'active':tab=='research'}" class="dropdown" dropdown><a class="dropdown-toggle" dropdownToggle data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-renren menu-icon" aria-hidden="true"></i>Research<span class="caret"></span></a>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li><a href="#research" ng-click="setTabs('research')">Research 1</a></li>
                        <li><a href="#research" ng-click="setTabs('research')">Research 2</a></li>
                        <li><a href="#research" ng-click="setTabs('research')">Research 3</a></li>
                        <li><a href="#research" ng-click="setTabs('research')">Research 4</a></li>
                    </ul>
                </li>
                <li ng-class="{'active':tab=='contact'}"><a href="#contact" ng-click="setTabs('contact')"><i class="fa fa-info menu-icon" aria-hidden="true"></i>Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
