<footer>
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h5 class="widgetheading">Browse pages</h5>
                    <ul class="link-list">
                        <li><a href="javascript:void(0)">Our company</a></li>
                        <li><a href="javascript:void(0)">Terms and conditions</a></li>
                        <li class="hide"><a href="javascript:void(0)">Privacy policy</a></li>
                        <li class="hide"><a href="javascript:void(0)">What we have done</a></li>
                        <li class="hide"><a href="javascript:void(0)">Our support forum</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h5 class="widgetheading">Follow us </h5>
                    <ul class="link-list social-links">
                        <li><a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                        <li><a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                        <li class="hide"><a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i>Insragram</a></li>
                        <li class="hide"><a href="https://in.pinterest.com/"><i class="fa fa-pinterest" aria-hidden="true"></i>Pinterest</a></li>
                        <li class="hide"><a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i>Google plus</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h5 class="widgetheading">Get in touch</h5>
                  <!--   <address>
                        <strong>Corporate company Inc.</strong>
                        <br> 18W 34TH STREET,  #1018
                        <br> NEW YORK, NY 10001
                    </address> -->
                    <p>
                        <i class="fa fa-phone fa-1x" aria-hidden="true"></i> +91 9823149496
                        <br>
                        <i class="icon-envelope-alt fa fa-envelope"></i> sanjaygawde@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h5 class="widgetheading">Subscribe newsletter</h5>
                    <p>
                        Keep updated for new releases and freebies. Enter your e-mail and subscribe to our newsletter.
                    </p>
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control email-address-input" placeholder="Email address" id="appendedInputButton" type="text">
                            <button class="btn btn-warning btn-custom" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="sub-footer" class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 footer-copyright">
                   <span>©2018 nPossibilities.in. All right reserved</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12  footer-designby">
                <span>Designed by <a  class="designby" href="javascript:void(0)" target="_blank">nPossibilities.in pvt ltd.</a></span>
            </div>
        </div>
    </div>
</footer>
